body {
    background-color: #2d2c33;
}

.userDiv {
    font-family: Arial;
    position: fixed;
    color: white;
    background-color: #110f0f;
    left: 0;
    top: 0;
    display: flex;
    height: 100%;
    width: 200px;
    align-items: end;
    padding-left: 20px;
    transition: left 1s;
}

/* .nameUser{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
} */
.funUser {
    display: flex;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 15px;
}

/* .imgUser{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: #bbbbbb;
    margin-right: 15px;
} */

.loginDiv {
    width: 80px;
    height: 25px;
    margin-right: 10px;
    border-radius: 7px;
}

.registerDiv {
    width: 80px;
    height: 25px;
    border-radius: 7px;
}

.loginDiv a {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerDiv a {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginDiv a:link {
    color: white;
    text-decoration: none;
}

.loginDiv a:active {
    text-decoration: none;
    color: white;
}

.registerDiv a:link {
    color: white;
    text-decoration: none;
}

.registerDiv a:active {
    text-decoration: none;
    color: white;
}

.loginDiv:hover {
    background-color: #474141;
}

.registerDiv:hover {
    background-color: #474141;
}

/* Đoạn test về các thẻ topic mà người dùng có thể nhấn vào! */
/* .btnLogin{
    position: fixed;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
}

.hehe{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnLogin:hover{
    background-color: #288653;
} */


/* .far_main{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    height: 100vh;
    width: 80vh;
    background-color: #009688;
} */
.title {
    position: fixed;
    font-family: Arial;
    color: white;
    font-weight: 500;
    font-size: 20px;
    left: 220px;
    top: 0px;
    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 20px;
    width: calc(100% - 250px);
    background-color: #2d2c33;
}

#openUserDivBtn:hover {
    background-color: #746a6a;
    cursor: pointer;
}

#spanTitle {
    font-weight: normal;
    color: #cacaca;
}

#openUserDivBtn {
    display: none;
    transition: 1s;
    position: fixed;
    left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: #2d2c33;
    color: white;
    font-family: monospace;
    font-weight: 900;
    font-size: 21px;
    padding-left: 9px;
}

.main_dis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 20px);
    font-weight: bold;
}

.botText {
    color: #ffffff;
    font-family: monospace;
    font-size: 17px;
    line-height: 30px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.botText div {
    width: fit-content;
    height: fit-content;
    max-width: 600px;
    background-color: #bbbbbb85;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}


#chatbox {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
}

#userInput {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: end;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 5px;
    background-color: #2d2c33;

}

#textInput {
    width: 50%;
    border: 1px solid #8e8ea0;
    /* font-family: 'monospace'; */
    font-size: 17px;
    resize: none;
    border-radius: 10px;
    padding: 10px;

    height: 80px;
    margin-top: 30px;
}

#textInput:focus {
    outline: none;
}



#buttonInput {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    margin-left: 20px;
    border: none;
    font-family: open;
    font-size: 17px;
    background-color: #009688;
    color: #ffffff;
    margin-bottom: 33px;
}

#buttonInput:focus {
    outline: none;
}

#buttonInput:hover {
    outline: none;
    background-color: #009687b2;
    cursor: pointer;
}

#buttonInput:active {
    outline: none;
    background-color: #009687;
}

/* 
    Từ đây thuộc phần create của js
*/
.userText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    line-height: 30px;
    width: 100%;
    display: flex;
    justify-content: end;
    font-weight: bold;
}

.userText div {
    width: fit-content;
    max-width: 600px;
    background-color: #009688;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}